<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.db.mapper.TestJsonMapper">
  <resultMap id="BaseResultMap" type="com.boot.db.entity.TestJson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="data" jdbcType="VARCHAR" property="data" typeHandler="com.boot.common.typehandler.JSONTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, data
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_json
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_json
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boot.db.entity.TestJson">
    insert into test_json (id, name, data
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR,typeHandler=com.boot.common.typehandler.JSONTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boot.db.entity.TestJson">
    insert into test_json
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="data != null">
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR,typeHandler=com.boot.common.typehandler.JSONTypeHandler},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.db.entity.TestJson">
    update test_json
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=VARCHAR,typeHandler=com.boot.common.typehandler.JSONTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.db.entity.TestJson">
    update test_json
    set name = #{name,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR,typeHandler=com.boot.common.typehandler.JSONTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>